<!-- DataTales Example -->
<div class="card shadow mb-4">
   <div class="card-header py-3">
      <button type="button" class="btn btn-primary" data-toggle="modal" data-target="#addModal">
         <i class="fas fa-plus"></i>
      </button>
   </div>
   <div class="card-body">
      <div class="table-responsive">
         <table class="table table-bordered" id="dataTable" width="100%" cellspacing="0">
            <thead>
               <tr>
                  <th>No</th>
                  <th>Nama Bank</th>
                  <th>Nomor Rekening</th>
                  <th>Nama</th>
                  <th>Image</th>
                  <th>Action</th>
               </tr>
            </thead>
            <tbody>
               <% banks.forEach((bank, i)=> { %>
                  <tr>
                     <td>
                        <%= ++i %>
                     </td>
                     <td>
                        <%= bank.namaBank %>
                     </td>
                     <td>
                        <%= bank.nomorRekening %>
                     </td>
                     <td>
                        <%= bank.name %>
                     </td>
                     <td class="text-center">
                        <img src="https://bwa-mern.herokuapp.com/<%= bank.imageUrl %> " alt="imageUrl" width="70px">
                     </td>
                     <td>
                        <form action="/admin/bank/<%= bank.id %>?_method=DELETE" method="POST">
                           <a href="javascirpt:void(0)" class="btn btn-warning btn-circle btn-sm button-update"
                              data-id="<%= bank.id %>" data-name="<%= bank.name %>" data-namabank="<%= bank.namaBank %>"
                              data-nomorrekening="<%= bank.nomorRekening %>">
                              <i class="fas fa-edit child-button-update"></i>
                           </a>
                           <button type="submit" class="btn btn-danger btn-circle btn-sm">
                              <i class="fas fa-trash"></i>
                           </button>
                        </form>
                     </td>
                  </tr>
                  <% }) %>
            </tbody>
         </table>
      </div>
   </div>
</div>